:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #ffffff;
  --modal-background: #fcfcfc;
  --modal-overlay: rgba(46, 47, 66, 0.4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text);
  background-color: var(--white);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.container {
  max-width: 100%;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}


a {
  text-decoration: none;
}

h2 {
  color: var(--dark);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

h3 {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* Mobile First */

/* Hero section */

.hero {
  background-color: var(--dark);
  padding: 72px 0;
  margin: 0 auto;
  color: var(--white);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-title {
  color: var(--white);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 200px;
  margin: 0 auto 72px;
  text-align: center;
}

.button {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: var(--primary-brand);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus {
  background-color: var(--pressed-state);
  cursor: pointer;
}

/* Principles section */

/* Team section */

.team {
  background-color: var(--light);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.team-member {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.member-info {
  padding: 32px 0;
  text-align: center;
}

.team-subtitle {
  margin-bottom: 8px;
}

.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:focus {
  background-color: var(--pressed-state);
}

.team-svg {
  fill: var(--light)
}

/* Portfolio section */

.portfolio,
.team {
  padding: 96px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

.portfolio-item {
  max-width: 100%;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-hidden {
  height: 100%;
  width: 100%;
  background-color: var(--primary-brand);
  padding: 40px 32px;
  color: var(--light);
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid var(--light);
  border-top: none;
}

.portfolio-subtitle {
  margin-bottom: 8px
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Media */

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .hero {
    padding: 112px 0;
  }

  .hero-title {
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .team-list {
    gap: 64px 24px;
  }

  .portfolio-list {
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .hero {
    padding: 188px 0;
    max-width: 1440px;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .button:focus {
    background-color: var(--pressed-state);
    cursor: pointer;
  }

  .portfolio,
  .team {
    padding: 120px 0;
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }

  .portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .portfolio-item:hover .portfolio-hidden {
    transform: translateY(0%);
  }

  .team-link:hover {
    background-color: var(--pressed-state);
  }
}

/* .header {
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-right: 76px;
}

.header-accent {
  color: var(--dark);
}

.header-list {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;
}

.header-menu {
  display: inline-block;
  color: var(--dark);
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  padding: 24px 0;
}

.header-studio {
  position: relative;
  color: var(--pressed-state);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-studio::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 48px;
  height: 4px;
  background-color: var(--pressed-state);
  border-radius: 2px;
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-contacts {
  color: var(--text);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu:hover,
.header-menu:focus,
.address-contacts:hover,
.address-contacts:focus {
  color: var(--pressed-state);
} */

/* .hero {
  font-family: inherit;
  background-color: var(--dark);
  color: var(--white);
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  color: var(--white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px;
  text-align: center;
}

.button {
  font-family: inherit;
  background-color: var(--primary-brand);
  color: var(--white);
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--pressed-state);
  cursor: pointer;
} */

/* .principles,
.portfolio {
  padding: 120px 0;
}

.principles-list {
  display: flex;
  gap: 24px;
}

.principles-item {
  flex-basis: calc((100% - 72px) / 4);
}

.principles-icon {
  border-radius: 4px;
  border: 1px solid var(--subtle-text);
  background: var(--light);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
}

.principles-subtitle {
  margin-bottom: 8px;
}

.principles-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
} */

/* .footer {
  background-color: var(--dark);
  padding: 100px 0;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-info {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-bottom: 16px;
}

.footer-accent {
  color: var(--light);
}

.footer-text {
  color: var(--light);
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-subtitle {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-icons {
  display: flex;
  gap: 16px;
}

.footer-icon {
  height: 40px;
  width: 40px;
}

.footer-link {
  height: 100%;
  width: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-svg {
  fill: var(--light);
}

.footer-modal {
  margin-left: 80px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: var(--white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input::placeholder {
  color: var(--white);
}

.footer-button {
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscription-icon {
  margin-left: 16px;
  fill: var(--white);
}

.backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--modal-overlay);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: var(--modal-background);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  overflow-y: auto;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.10);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:focus,
.modal-close:hover {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--white);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-paragraph {
  color: var(--dark);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.modal-input {
  border-radius: 4px;
  border: 1px solid var(--modal-overlay);
  padding: 8px 16px 8px 38px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-textarea:focus {
  outline: 0;
  border-color: var(--primary-brand);
}

.input-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.input-icon {
  fill: var(--primary-brand);
}

.textarea-field {
  margin-bottom: 16px;
}

.modal-textarea {
  border-radius: 4px;
  border: 1px solid var(--modal-overlay);
  color: var(--modal-overlay);
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  width: 100%;
  min-height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--modal-overlay);
  letter-spacing: 0.48px;
}

.input-wrap {
  position: relative
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.checkbox-field {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 24px;
}

.checkbox-icon {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--modal-overlay);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  padding: 4px 3px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-tick {
  opacity: 0;
}

.checkbox-input:checked+.checkbox-label .checkbox-tick {
  opacity: 1;
}

.checkbox-input:checked+.checkbox-label .checkbox-icon {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light);
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.checkbox-link {
  width: 16px;
  text-decoration-line: underline;
  color: var(--primary-brand);
} */